<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="css/schedule.css">
    <%- include('../header.ejs') %>
</head>
<body style="background-color: #f6f7fa;">

<div>
    <%- include('../body.ejs') %>
    <div class="content" style="background-color:#f6f7fa">
        <br><br><br><br><br><br>
        <div class="container">
            <table class="table table-dark table-striped">
                <thead>
                <tr style="background-color: #5b5d5d;font-size: 18px;">
                    <th><i>#</i></th>
                    <th><i>FIXTURE</i></th>
                    <th><i>MATCH TIME</i></th>
                    <th><i>VENUE</i></th>
                    <th><i>RESULT</i></th>
                </tr>
                </thead>
                <tbody>
                <tr style="height: 10px;"></tr>
                <% for (const [key, value] of scheduleMap.entries()) { %>
                    <% value.forEach(function(game){ %>
                    <% if (game.isActive) { %>
                            <tr style="background-color: #19B3D3;">
                        <% } %>
                        <% if (!game.isActive) { %>
                            <tr>
                        <% } %>
                        <td><%= game.matchDay %></td>
                        <td><%= game.homeTeam %> vs <%= game.awayTeam %></td>
                        <td><%= game.momentClientTime %></td>
                        <td><%= game.venue %></td>
                        <td>
                            <% if (game.winner !== undefined) { %>
                                <%= game.winner %>
                            <% } %>
                            <% if (game.winner == undefined) { %>
                                TBP
                            <% } %>
                        </td>
                    </tr>
                    <% }); %>
                    <tr style="height: 10px;"></tr>
                <% } %>

                </tbody>
            </table>
        </div>

    </div>
</div>

</body>
</html>