<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/schedule.css">
    <%- include('../header.ejs') %>
    <style>
         input[type=submit] {
            background-color: #343a40;
            border: none;
            color: #19B3D3;
            padding: 16px 32px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
            font-size: 15px;
            font-weight: 900;
            font-family: "Roboto", sans-serif;
        }
    </style>
</head>
<body style="background-color: #f6f7fa;">


<div>
    <%- include('../body.ejs') %>
    <div class="content" style="background-color:#f6f7fa">
        <br><br><br><br>
        <br><br><br><br>

        <% if(typeof msg != 'undefined') { %>
            <br/>
            <% msg.forEach(function(success) { %>
                <div style="color:#4c4e4b;text-align: center;font-size: 25px; font-weight: 900; font-family: Roboto, sans-serif;" role="alert">
                    <i><%= success %></i>
                </div>
                <br><br><br>
            <% }) %>
        <% } %>

        <% if(typeof alert != 'undefined') { %>
            <br/>
            <% alert.forEach(function(error) { %>
                <div style="color:red;text-align: center;font-size: 25px; font-weight: 900; font-family: Roboto, sans-serif;" role="alert">
                    <%= error.msg %>
                </div>
                <br><br><br>
            <% }) %>
        <% } %>

        <% schedule.forEach(function(match){ %>
        <div class="container">
            <h1 style="text-align: center; color: #19B3D3;">Deadline : <i><%= match.deadline %> </i></h1>
            <form autocomplete="off" action="/savePredictions/<%= match.matchNumber %>/<%= memberId %>/<%= match.matchDay %>/<%= type %>" method="POST">

            <table class="table table-dark table-striped">
                <thead>
                <tr style="background-color: #5b5d5d;font-size: 18px;">
                    <th><i>#</i></th>
                    <th><i>GAME</i></th>
                    <th><i>DEADLINE</i></th>
                    <th><i>CHOICE</i></th>
                    <th><i>ACTION</i></th>
                </tr>
                </thead>
                <tbody>
                <tr style="height: 20px;"></tr>
                    <tr>
                        <td><%= match.matchNumber %></td>
                        <td><%= match.homeTeam %> vs <%= match.awayTeam %></td>
                        <td><%= match.deadline %></td>
                        <% if (match.predictionFound) { %>
                            <td>
                                <%= match.selected %>
                            </td>
                        <% } %>
                        <% if (!match.predictionFound) { %>
                        <td> <select name="selected" style="background-color: #f1f4f5; color:black; padding: 6px 10px;margin: 8px 0; display: inline-block;border: 1px solid #ccc;border-radius: 4px; box-sizing: border-box; font-size: 15px; font-weight: 900;" required>
                                <option style="margin: 0 auto;">--- Select Team ---</option>
                                <option><%= match.homeTeam %></option>
                                <option><%= match.awayTeam %></option>
                            </select>
                        </td>
                        <% } %>
                        <% if (!match.predictionFound) { %>
                        <td style="text-align:center;">
                            <button type="submit" class="btn-primary" style= "border-radius: 8px;"><a
                                        style="color:white;font-size:15px;text-decoration:none;/*font-family:Comic Sans MS*/">PREDICT</a>
                            </button>
                        </td>
                        <% } %>
                        <% if (match.predictionFound) { %>
                            <td style="text-align:center;">
                                -
                            </td>
                        <% } %>
                    </tr>
                    <tr style="height: 20px;"></tr>
                </tbody>
            </table>
            </form>
            <% if (type == 'all') { %>
                <div style="width: 100px; margin-left: auto; margin-right: auto;color: white;">
                    <a href="/predictions" style="border-radius: 5px;color:white;font-size:20px;text-decoration:none;" class="btn-primary" >BACK</a>
                    <!--<input type="submit" formaction="/predictions" value="BACK">-->
                </div>
            <% } %>
            <% if (type == 'single') { %>
                <div style="width: 100px; margin-left: auto; margin-right: auto;color: white;">
                    <a href="/viewPredictions" style="border-radius: 5px;color:white;font-size:20px;text-decoration:none;" class="btn-primary" >BACK</a>
                    <!--<input type="submit" formaction="/viewPredictions" value="BACK">-->
                </div>
            <% } %>
        </div>
        <br><br><br>
        <% }); %>

    </div>
</div>

</body>
</html>