<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/schedule.css">
    <%- include('../header.ejs') %>
</head>
<body style="background-color: #f6f7fa;">

<div>
    <%- include('../body.ejs') %>
    <div class="content" style="background-color:#f6f7fa">
        <br><br><br><br>
        <br><br><br><br>

        <% if (isAdmin) {%>
            <table class="table table-dark table-striped" style="width: 30%;font-size:20px;font-family: Arial, Helvetica, sans-serif;width:40%;">
                <tr style="text-align:center;background-color: #5b5d5d;font-size: 18px;">
                    <td><i>WON</i></td>
                    <td><i>LOST</i></td>
                    <td><i>ADMIN</i></td>
                    <td><i>NET</i></td>
                </tr>
                <tr>
                    <td style="padding: 5px;font-size:20px;border: 1px solid black;"><%= standingsTotal.won %></td>
                    <td style="padding: 5px;font-size:20px;border: 1px solid black;"><%= standingsTotal.lost %></td>
                    <td style="padding: 5px;font-size:20px;border: 1px solid black;"><%= adminTotal.admin %></td>
                    <td style="padding: 5px;font-size:20px;border: 1px solid black;"><%= adminTotal.net %></td>
                </tr>
            </table>
            <br><br>
        <% } %>


        <% if (userName != undefined) { %>
            <h1 style="text-align: center; color: #19B3D3;"><i><%= userName %>'s History </i></h1>
        <% } %>
        <br><br>
        <div class="container">
            <table class="table table-dark table-striped" style="width:95%;">
                <thead>
                <tr style="background-color: #5b5d5d;font-size: 18px;">
                    <th><i>#</i></th>
                    <th><i>MATCH</i></th>
                    <th><i>SELECTED</i></th>
                    <th><i>WINNER</i></th>
                    <th><i>BET</i></th>
                    <th><i>WON</i></th>
                    <th><i>LOST</i></th>
                    <th><i>NET</i></th>
                    <% if (isAdmin)  { %>
                        <th><i>ADMIN</i></th>
                        <th><i>NET</i></th>
                    <% } %>
                </tr>
                </thead>
                <tbody>
                <% standings.forEach(function(standing){ %>
                    <tr style="height: 5px;"></tr>
                    <tr style="font-size: 18px;">
                        <td><%= standing.matchNumber %></td>
                        <td><%= standing.homeTeam %> vs <%= standing.awayTeam %>
                        </td>
                        <td><%= standing.selected %></td>
                        <td><%= standing.winner %></td>
                        <td><%= standing.amount %></td>
                        <td><%= standing.wonAmount %></td>
                        <td><%= standing.lostAmount %></td>
                        <td style="color: greenyellow;"><%= standing.net %></td>
                        <% if (isAdmin)  { %>
                            <td><%= standing.adminAmount %></td>
                            <td style="color: greenyellow;"><%= standing.adminNet %></td>
                        <%}%>
                    </tr>
                    <tr style="height: 5px;"></tr>
                <% }); %>
                </tbody>
            </table>
            <br>
            <div style="width: 100px; margin-left: auto; margin-right: auto;color: white;">
                <a href="/standings" class="next">&laquo; BACK</a>
            </div>
        </div>

    </div>
</div>

</body>
</html>